<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
  <div class="header-seperation">
      <!-- BEGIN LOGO -->
      <a href="/"><img src="images/logo.png" class="logo" alt=""  data-src="images/logo.png" data-src-retina="images/logo2x.png" width="106" height="21"/></a>
      <!-- END LOGO -->
      </div>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <div class="header-quick-nav" >
   <!-- BEGIN CHAT TOGGLER -->
      <div class="pull-right">
        <div class="chat-toggler">
          <div class="user-details">
            <div class="username">
              <%- req.session.user.firstname %> <span class="bold"><%- req.session.user.lastname %></span>
            </div>
          </div>
      </div>
     <ul class="nav quick-section ">
      <li class="quicklinks">
      </li>
      <li class="quicklinks">
        <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
          <div class="fa fa-cog"></div>
        </a>
        <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                  <!-- <li><a href="user-profile.html"> My Account</a>
                  </li>
                  <li><a href="calender.html">My Calendar</a>
                  </li>
                  <li><a href="email.html"> My Inbox&nbsp;&nbsp;<span class="badge badge-important animated bounceIn">2</span></a>
                  </li>
                  <li class="divider"></li> -->
                  <li><a href="/logout"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Déconnexion</a></li>
               </ul>
      </li>
    </ul>
      </div>
     <!-- END CHAT TOGGLER -->
      </div>
      <!-- END TOP NAVIGATION MENU -->

  </div>
  <!-- END TOP NAVIGATION BAR -->
          <% if (req.session.flashMessage) { %>
          <% for (type in req.session.flashMessage) { %>

            <div class="alert alert-<%= type %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>

              <ul>
                <% for (message in req.session.flashMessage[type]) { %>
                 <li><%= req.session.flashMessage[type][message] %></li>
               <% } %>
             </ul>
           </div>

          <% } %>
        <% } %>
</div>
    <!-- END HEADER -->