<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" id="main-menu">
<!-- BEGIN MINI-PROFILE -->
<div class="page-sidebar-wrapper" id="main-menu-wrapper">


 <!-- BEGIN SIDEBAR MENU -->
  <p class="menu-title">MANAGER </p>
  <ul>
    <li class="start active "> <a href="/dashboard"> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> </a></li>
    <li class="start"> <a href="/project"> <i class="fa fa-cog"></i> <span class="title">Projet</span> </a></li>
    <li class="start"> <a href="/coachs"> <i class="fa fa-users"></i> <span class="title">coachs</span> </a></li>
  </ul>
  <p class="menu-title">COACH </p>
  <ul>
    <li class="start"> <a href="/projects"> <i class="fa fa-list"></i> <span class="title">Projects</span> </a></li>
  </ul>
</div>
</div>
<!-- END SIDEBAR -->