<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN CORE CSS FRAMEWORK -->
<link href="plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
<link href="plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<link href="styles/animate.min.css" rel="stylesheet" type="text/css"/>
<!-- END CORE CSS FRAMEWORK -->
<!-- BEGIN CSS TEMPLATE -->
<link href="styles/style.css" rel="stylesheet" type="text/css"/>
<link href="styles/responsive.css" rel="stylesheet" type="text/css"/>
<link href="styles/custom-icon-set.css" rel="stylesheet" type="text/css"/>
<!-- END CSS TEMPLATE -->
<link href="plugins/bootstrap-select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-body no-top lazy"  data-original="images/work.jpg"  style="background-image: url('images/work.jpg')">
<div class="container">
 <% if (req.session.flashMessage) { %>
          <% for (type in req.session.flashMessage) { %>

            <div class="alert alert-<%= type %> alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>

              <ul>
                <% for (message in req.session.flashMessage[type]) { %>
                 <li><%= req.session.flashMessage[type][message] %></li>
               <% } %>
             </ul>
           </div>

          <% } %>
        <% } %>
  <div class="row login-container animated fadeInUp">
    <div class="col-md-8 col-md-offset-2 tiles white no-padding">

      <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
        <div class="row">
        <h2 class="normal">Bienvenue sur Wombat</h2>
        <p class="col-md-12">Wombat est un service de coaching en ligne pour les entreprises naissantes. Notre but est de maximiser les chances de réussite d’une start-up, en l’encadrant et en la rassurant sur des problématiques précises par l’intermédiaire de coachs expérimentés, appelés mentors.</p>
          <div class="col-md-6">
            <h2 class="normal">Vous êtes un startuper</h2>
            <p>Maximisez vos chances de réussite !<br>Recevez des avis d'experts sur votre business et travaillez avec eux pour combler vos lacunes. <br><br></p>
            <button type="button" class="btn btn-info btn-cons" id="register_toggle">Essayez maintenant !</button>
          </div>
          <div class="col-md-6">
            <h2 class="normal">Vous êtes un expert</h2>
            <p>Devenez un expert Wombat agréé et accompagnez les jeunes start-ups qui ont besoin de votre aide.<br><br><br></p>
            <button type="button" class="btn btn-info btn-cons" id="register_coach_toggle">S'inscrire</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-cons" id="login_toggle">Se connecter</button>
          </div>
        </div>
      </div>




    <div class="tiles grey p-t-20 p-b-20 text-black">
      <form id="frm_login" class="animated fadeIn" method="POST" action="/login" style="display:none">
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-6 col-sm-6 ">
            <input name="email" id="email" type="text"  class="form-control" placeholder="E-mail">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="password" id="password" type="password"  class="form-control" placeholder="Mot de passe">
          </div>
          <div class="col-md-12 ">
            <button type="submit" class="btn btn-primary btn-cons">Go !</button>
          </div>
        </div>
      </form>
      <form id="frm_pitch" class="animated fadeIn" style="display:none">
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <textarea name="pitch" id="pitch" rows="10" type="text" class="form-control" placeholder="Décrivez votre projet"></textarea>
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <button type="button" class="btn btn-info btn-cons" id="start">Démarrer</button>
          </div>
        </div>
      </form>

      <form id="frm_besoins" class="animated fadeIn" style="display:none">
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12">
            <p>Dans quel(s) domaine(s) pensez-vous avoir besoin d'aide ?</p>
            <br>
            <select id="multi" style="width:100%" multiple>
              <option value="UI">UI</option>
              <option value="UX">UX</option>
              <option value="Juridique">Juridique</option>
              <option value="Communication">Communication</option>
              <option value="Business">Business</option>
            </select>
            <br><br>
            <ul class="nav nav-tabs" id="tab-01">
            </ul>
            <div class="tab-content" id="tab-01-content">

            </div>
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <button type="button" class="btn btn-cons" id="back_register_toggle">Retour</button>
            <button type="button" class="btn btn-info btn-cons" id="account">Créer votre compte</button>
          </div>
        </div>
      </form>

      <form id="frm_register" class="animated fadeIn" style="display:none">
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-6 col-sm-6">
            <input name="firstname" id="firstname" type="text"  class="form-control" placeholder="Prénom">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="lastname" id="lastname" type="text" class="form-control" placeholder="Nom">
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <input name="reg_email" id="reg_email" type="text" class="form-control" placeholder="E-mail">
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12">
            <input name="reg_password" id="reg_password" type="password"  class="form-control" placeholder="Mot de passe">
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <button type="button" class="btn btn-cons" id="back_account">Retour</button>
            <button type="button" class="btn btn-info btn-cons" id="finish">Terminer</button>
          </div>
        </div>
      </form>

      <form id="frm_register_coach" class="animated fadeIn" style="display:none">
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-6 col-sm-6">
            <input name="firstname_coach" id="firstname_coach" type="text"  class="form-control" placeholder="Prénom">
          </div>
          <div class="col-md-6 col-sm-6">
            <input name="lastname_coach" id="lastname_coach" type="text" class="form-control" placeholder="Nom">
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <input name="reg_email_coach" id="reg_email_coach" type="text" class="form-control" placeholder="E-mail">
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <input name="entreprise" id="entreprise" type="text" class="form-control" placeholder="Votre entreprise">
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12">
            <input name="reg_password_coach" id="reg_password_coach" type="password"  class="form-control" placeholder="Mot de passe">
          </div>
        </div>
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
          <div class="col-md-12 ">
            <button type="button" class="btn btn-info btn-cons" id="finish_coach">Terminer</button>
          </div>
        </div>
      </form>
    </div>
      </div>
  </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN CORE JS FRAMEWORK-->
<script src="plugins/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="plugins/jquery-lazyload/jquery.lazyload.min.js" type="text/javascript"></script>
<script src="plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
<script src="js/login_v2.js" type="text/javascript"></script>
<!-- BEGIN CORE TEMPLATE JS -->
<!-- END CORE TEMPLATE JS -->
</body>

</html>