 BEGIN PAGE CONTAINER-->
<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body"> Widget settings form goes here </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
  <div class="page-title">
    <h3>Bienvenue sur Wombat</h3>
  </div>
    <% if (req.session.user.rank === 'manager') { %>
      <p>Sur la page Projet vous pouvez à tous moment éditer vos besoins et le pich de votre projet.
      <br>C'est aussi sur cette page que vous accederais à l'espace de votre projet.<br>
      Il est possible de demander un audit, vous trouverez sur la page coachs les demandes qui sont faites par les experts.
      Il est également possible d'activer votre annonce afin que le projetsoit visible par les experts. Leurs demandes sont également affichées dans la page Mentors.</p>

      <p>Sur la page Mentors vous trouverez deux sections. Les coachs qui vous propose leur aide sur un point spécifique de votre projet. Et les mentor qu'y vous aide et qu'y on access à votre espace projet afin d'échanger des fichiers.</p>
    <% } else { %>
      <p>La premiére étape à faire c'est de remplir votre profil avec les compétences dont vous disposé. C'est grace à cela qu'on vous proposera les projet que vous pouvez aider.<br><br>
      Dans un second temps veillez remplir vos information bancaire pour que l'on puisse vous rémunerer sur les missions que vous ferrez.<br><br>
      Sur la page Projets vous trouverez l'ensemble des projets sur les quelle vous pouvez proposer votre aide aissi que les projet qur les quelles vous travaillé.<br><br>
      Sur la page Audits, vous trouverez les start-up qui on besoins d'un audit qui vous sera rémunéré 360e.</p>
    <% } %>
  </div>
</div>
<!-- END PAGE CONTAINER