 BEGIN PAGE CONTAINER-->
<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body"> Widget settings form goes here </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
  <div class="page-title">
    <i class="fa fa-home"></i>
    <h3>Bienvenue sur Wombat</h3>
  </div>
  <div class="row">
  <div class="col-md-6">

    <% if (req.session.user.rank === 'manager') { %>
      <p>Sur la page "Projet" vous pouvez à tout moment éditer vos besoins et le pitch de votre projet.<br>
      <br>C'est aussi sur cette page que vous accéderez à l'espace de votre projet.<br><br>
      Il est possible de demander un audit, vous trouverez sur la page "Coach", les demandes qui sont faites par les experts. Il est également possible d'activer votre annonce afin que le projet soit visible par les experts. Leurs demandes sont affichées dans la page Mentors.</p>

      <p>Sur la page "Mentors" vous trouverez deux sections. Tout d'abord, les coachs qui vous proposent leurs aides sur un point spécifique de votre projet. Deuxièmement, les mentors qui vous aident et qui ont accès à votre espace projet afin d'échanger des fichiers.</p>
    <% } else { %>
      <p>La première étape à faire, c'est de remplir votre profil avec les compétences dont vous disposez. C'est grâce à cela qu'on vous proposera les projets que vous pouvez aider.<br><br>

Dans un second temps veuillez remplir vos informations bancaires pour que l'on puisse vous rémunérer sur les missions que vous ferez.<br><br>

Sur la page "Projets", vous trouverez l'ensemble des projets sur lesquels vous pouvez proposer votre aide ainsi que les projets sur lesquels vous travaillez.<br><br>

Sur la page "Audits", vous trouverez les start-up qui ont besoin d'un audit.</p>
    <% } %>
  </div>

  </div>
  </div>
</div>
<!-- END PAGE CONTAINER