<!-- BEGIN PAGE CONTAINER-->
<div class="page-content">
  <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
  <div id="portlet-config" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button"></button>
      <h3>Widget Settings</h3>
    </div>
    <div class="modal-body"> Widget settings form goes here </div>
  </div>
  <div class="clearfix"></div>
  <div class="content">
  <div class="page-title">
    <i class="fa fa-user"></i>
    <h3>Votre profil</h3>
  </div>
  <p>Vous trouverez ici toutes vos informations relatives à votre compte que vous pourrez modifier simplement.</p><br><br>
  <div class="row">
    <form method="POST" action="/manager">
      <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
          <label class="form-label">Prénom</label>
          <div class="controls">
            <input name="firstname" type="text" class="form-control" placeholder="Prénom" value="<%= req.session.user.firstname%>">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Nom</label>
          <div class="controls">
            <input name="lastname" type="text" class="form-control" placeholder="Nom" value="<%= req.session.user.lastname%>">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">E-mail</label>
          <div class="controls">
            <input name="email" type="text" class="form-control" placeholder="E-mail" value="<%= req.session.user.email%>">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <button type="submit" class="btn btn-success">Mettre à jour</button>
        </div>
      </div>

    </form>
    </div>
  </div>
</div>
<!-- END PAGE CONTAINER-->